body
{
    background: #E3E3E3;
    font-family: Arial, Verdana;
    color: #2d2d2d;
    font-size: 11pt;
	background-image:url('/images/system/redesign/headerbgint.png');
	background-repeat:repeat-x;
}
a:link, a:visited
{
    color:#008998;
    text-decoration: none;
}
a:hover
{
	color:#00704a;
    text-decoration: underline;
}






.fadeSome
{
    opacity: 0.30;
    filter: alpha(opacity=30);
    -moz-opacity: 30%;
}
.fadeLots
{
    opacity: 0.50;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
}
.fadeCompletely
{
    opacity: 0.0;
    filter: alpha(opacity=0);
    -moz-opacity: 0.0;
}


ol, ul
{
    margin-left: 20px;
    /*font-size: 10pt;*/
}

#pagewrapper, table.PageBoundingBox
{
    margin: 0 auto;
    width: 982px;
}

/* HEADER AREA */

#headerwrapper {
	 height:83px;
	 /*padding-left:19px;*/
}

#headerwrapper h1 img{
	margin-left:5px;
}

#mainlogo {
	 float:left;
	 padding-top:12px;
}
#mainlogo span {
	display:none;
}
#header_toplinks {
	 float:right;
	 font-size:8pt;
	 padding-top:13px;
	 color:#fff;
	 font-weight:normal;
}
#header_toplinks a:link, 
#header_toplinks a:visited {
	 color:#fff;
}

#header_contentbar h3 {
	margin-top:7px;
	background-color:white;
	background-image:url('/images/system/redesign/sitenametab.png');
	background-repeat:no-repeat;
	background-position:10px 0px;
	height:50px;
	color:#fff;
	font-weight:bold;
	font-size:22pt;
	margin-bottom:-7px;
	padding-left:28px;
	padding-top:15px;
	padding-bottom:20px;
}

#searcharea {
	float:right;
	clear:right;
	padding-bottom: 15px; 
	padding-left: 15px; 
	padding-right: 5px; 
	padding-top: 15px;
	width:365px;
}
#searcharea select,
#searcharea .searchbox {
	font-size:8pt;
	width:160px;
}
#searcharea .searchbox {
	padding-left:5px;
}
#searcharea .searchButton {
	height:19px;
	vertical-align:top;
	float:right;
	margin-top:1px;
}

/* MAIN TOP NAVIGATION */
#gnav {	 
	height:32px;
	padding-top:10px;
	padding-left:9px;
}
#gnav ul {
	 list-style-type:none;	
	 margin:0px;
	 padding:0px;
}
#gnav li {	  
	 float:left;
}
#gnav li a {
	color:#000;
	/*font-weight:bold;*/
	font-size:12pt;
	text-decoration:none;
}


#gnav01, #gnav02, #gnav03, #gnav04, #gnav05 {
	padding-right:10px;
	padding-left:10px;
	border-right:1px solid #000;
}
#gnav01 {
	padding-left:0px;
}
#gnav01 a{
	font-weight:bold;
}
 #gnav05 {
	border-right:0px none transparent;
}

table.ContentBoundingBox
{
    background-color: #fff;
	margin-top:7px;
}

#MainContentdiv
{
    padding: 24px 15px 24px 15px;
}

#MainContentdiv p, #MainContentdiv li, #MainContentdiv td
{
    font-size: 9pt;    
    margin-bottom: 15px;
}

#MainContentdiv li {
margin-bottom:auto;
}

#MainContentdiv ul, #MainContentdiv ol {
margin-bottom:0px;
}

#footerwrapper UL {
	list-style-type: none; 
	padding-left: 5px; 
	padding-right: 0px; 
	display: block; 
	background: url(/images/system/redesign/footerbar.png) no-repeat 0px 0px; 
	height: 34px; 
	margin-left: 0px; 
	padding-top: 10px;
}
#footerwrapper LI {
	padding-left: 10px; 
	padding-right: 10px; 
	float: left; 
	border-right: #fff 1px solid;
}
#footerwrapper LI A {
	color: #fff; 
	font-size: 9pt; 
	font-weight: bold;
}
#footerwrapper LI.footerlast {
	border-right-style:none;
}





/*OLD ORIGINAL CSS*/

/* DELTA COLLEGE MASTER STYLES *//*

body
{
    background: #d1d2d4;
    font-family: Tahoma, Geneva, sans-serif;
    color: #2d2d2d;
    font-size: 62.5%;
    font-size: 11pt;
	background-image:url('/images/system/redesign/headerbg.png');
	background-repeat:repeat-x;
}
a:link, a:visited
{
    color: #025239;
    text-decoration: none;
}
a:hover
{
    color: #484878;
    text-decoration: underline;
}

.fadeSome
{
    opacity: 0.30;
    filter: alpha(opacity=30);
    -moz-opacity: 30%;
}
.fadeLots
{
    opacity: 0.50;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
}
.fadeCompletely
{
    opacity: 0.0;
    filter: alpha(opacity=0);
    -moz-opacity: 0.0;
}


ol, ul
{
    margin-left: 20px;
    font-size: 10pt;
}

#pagewrapper, table.PageBoundingBox
{
    margin: 0 auto;
    width: 1006px;
}

/* HEADER AREA *//*
#headerwrapper
{
    background: url('/images/system/main_headerbg.jpg') no-repeat 0 0;
    height: 88px;
}
#mainlogo
{
    float: left;
    padding: 24px 0 0 32px;
}
#mainlogo span
{
    text-indent: -9999px;
    display: none;
}
#header_toplinks
{
    float: right;
    font-size: 8pt;
    padding: 25px 25px 0 0;
}
#header_toplinks a:link, #header_toplinks a:visited
{
    color: #000;
    font-weight: bold;
    padding: 0 8px;
}
#searcharea
{
    float: right;
    font-size: 9pt;
    padding: 15px 30px 0 0;
}
#searcharea select, #searcharea .searchbox
{
    font-size: 8pt;
    width: 210px;
}
#searcharea .searchbox
{
    padding-left: 5px;
}
#searcharea .searchButton
{
    height: 19px;
    vertical-align: top;
}

/* MAIN TOP NAVIGATION *//*
#gnav
{
    width: 1006px;
    height: 33px;
    background: url('/images/system/deltaglobalnav.gif') no-repeat 0 0;
}
#gnav ul
{
    list-style-type: none;
    width: 790px;
    height: 33px;
    margin-left: 94px;
    overflow: hidden;
    position: relative;
}
#gnav li
{
    letter-spacing: 0;
}
#gnav li a:link, #gnav li a:visited
{
    position: absolute;
    top: 0;
    height: 33px;
    display: block;
    color: #ffffff;
    text-indent: -9999px;
    overflow: hidden;
}
#gnav li#search a:link, #gnav li#search a:visited
{
    width: 145px;
    background: url('/images/system/deltaglobalnav.gif') no-repeat -94px 0;
    left: 0;
}
#gnav li#search a:hover
{
    background: url('/images/system/deltaglobalnav.gif') no-repeat -94px -33px;
}
#gnav li#view a:link, #gnav li#view a:visited
{
    width: 152px;
    background: url('/images/system/deltaglobalnav.gif') no-repeat -239px 0;
    left: 145px;
}
#gnav li#view a:hover
{
    background: url('/images/system/deltaglobalnav.gif') no-repeat -239px -33px;
}
#gnav li#admissions a:link, #gnav li#admissions a:visited
{
    width: 180px;
    background: url('/images/system/deltaglobalnav.gif') no-repeat -391px 0;
    left: 297px;
}
#gnav li#admissions a:hover
{
    background: url('/images/system/deltaglobalnav.gif') no-repeat -391px -33px;
}
#gnav li#financial a:link, #gnav li#financial a:visited
{
    width: 159px;
    background: url('/images/system/deltaglobalnav.gif') no-repeat -571px 0;
    left: 477px;
}
#gnav li#financial a:hover
{
    background: url('/images/system/deltaglobalnav.gif') no-repeat -571px -33px;
}
#gnav li#personalized a:link, #gnav li#personalized a:visited
{
    width: 154px;
    background: url('/images/system/deltaglobalnav.gif') no-repeat -730px 0;
    left: 636px;
}
#gnav li#personalized a:hover
{
    background: url('/images/system/deltaglobalnav.gif') no-repeat -730px -33px;
}

#managernav
{
}

.tbManagerNavigationContainer
{
    background: #F4F4F4 url(/_layouts/images/toolbar/horizontal.png) repeat-x scroll 0 -1px;
    border: 1px solid #D1D1D1;
    margin-top: 3px;
    vertical-align: middle;
    font-size: 8pt;
}



/* LSB GLOBAL STYLES *//*
#lsbdiv
{
    width: 210px;
    margin-left: 13px;
    padding-top: 1px;
    background: #f4f8e7;
}

#lsbdiv_explrerstyle
{
    width: 210px;
    margin-left: 13px;
    padding-top: 1px;
    background: #f4f8e7;
}

#lsbbottom
{
    width: 210px;
    height: 158px;
    margin: 0 0 15px 12px;
    background: url('/images/system/lsb_bottom.gif') no-repeat 0 0;
}

/* RSB GLOBAL STYLES *//*
#top_rsb
{
    width: 233px;
    height: 67px;
    background: url('/images/system/rsb_topbuttonbg.gif') no-repeat top right;
    position: relative;
}
#top_rsb a:link, #top_rsb a:visited
{
    width: 82px;
    height: 39px;
    display: block;
    position: absolute;
    right: 35px;
    top: 0;
}
#rsb
{
    width: 233px;
    padding-top: 20px;
}

/* INNER PAGES TOP BAR BASICS *//*
#header_contentbar
{
    background: url('/images/system/inner_botheaderbg.gif') no-repeat 0 0;
    height: 77px;
    width: 1006px;
    position: relative;
}
#header_contentbar h3
{
    color: #4f4f7d;
    font-size: 13.5pt;
    padding: 26px 0 0 30px;
}
#header_contentbar a:link, #header_contentbar a:visited
{
    width: 75px;
    height: 39px;
    display: block;
    position: absolute;
    right: 52px;
    bottom: 0;
}
table.ContentBoundingBox
{
    background: #fff url('/images/system/inner_maincontentbg.gif') repeat-y 0 0;
}

/* MAIN CONTENT STYLES *//*
#MainContentdiv
{
    padding: 24px 15px 24px 15px;
    background: url('/images/system/corner_shadowfix.gif') no-repeat top right;
}
#crumbsdotted
{
    max-width: 500px;
    margin-bottom: 15px;
}
#crumbs
{
    color: #000;
    font-size: 9pt;
    width: auto;
    display: inline;
    background: #fff;
    padding-right: 10px;
}
#crumbs a:link, #crumbs a:visited
{
    color: #4f4f7d;
    line-height: 1.4em;
}
#MainContentdiv p
{
    font-size: 9pt;
    line-height: 1.4em;
    margin-bottom: 15px;
}
#MainContentdiv .seperator
{
    background: url('/images/system/maincontent_swoosh.gif') no-repeat 0 0;
    height: 44px;
    margin-bottom: 15px;
}


/* FOOTER STYLES *//*
#footerwrapper {
    width:1006px;
 	height:130px;
 	background:url('/images/system/footer_bg_top.gif') repeat-x 0 0;
 	clear:both;
 	text-align:center;
 	font-size: 9pt;
}

#footerwrapper ul { 
	width:100%;
	margin:0;
	padding:10px 0 0 25%;
	list-style:none;
	/*overflow:auto;*//*
}
#footerwrapper li {	  
	background:url('/images/system/footer_navsep.gif') no-repeat bottom left;
	padding:0 0 0 2px;
	float:left;
}
#footerwrapper li#footerlast {
	background:url('/images/system/footer_navsep.gif') repeat-x bottom right;
	padding-right:2px;
}
#footerwrapper a.button:link, #footerwrapper a.button:visited {
	color:#fff;
	font-size:10pt;
	font-weight:bold;
	display:block;
	height:25px;
	float:left;
	padding:8px 15px 0 15px;
	width:auto;
	background:url('/images/system/footer_navbg.gif') repeat-x 0 0;
}
#footerwrapper a.button:hover {
	text-decoration:none;
	background:url('/images/system/footer_navbgroll.gif') repeat-x 0 0;
}
#footerwrapper p.contact-info {
	margin:0;
	padding:0;
	height:30px;
}
div#lower-content-wrapper {
	background:url('/images/system/footer_bg_middle.gif') repeat-y 0 0;
}

#footer-fact {
                clear:both;
                width:500px;
                margin:13px auto 0 auto;
                background:url('/images/system/50th_sprite_72x829.png') no-repeat 0 0;
                text-align:left;
                min-height:29px;
                max-height:800px;                
                position:relative;
                left:50px;
}

#footer-fact:hover {
                background-position: 0 -800px;
}


#footer-fact p {
	margin:0;
	padding:6px 0 0 78px;
	
}



p#contact-info {
	font-size:12px;
	margin:0;
	padding:8px 0;
}
#footer-bottom-edge {
	clear:both;
	margin:0;
	padding:0;
	background:url('/images/system/footer_bg_bottom.gif') no-repeat 0 0;
	height:25px;
	display:none;
}